Question no.1 :-

Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.

Examples

filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]

filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]

filter_list(["Nothing", "here"]) ➞ []

Answer no.1

In [ ]:
def filter_list(I):

    int_list = []

    for ele in I:
        if type(ele) == int:
            int_list.append(ele)
    return int_list

filter_list([53,44,"ABD","Vk",23,"RCB"])

[53, 44, 23]

Question no.2 :- 

Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...

Examples

add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

Answer no.2

In [ ]:
def add_indexes(L):

    new_L = []
    
    for i in L:
        A = i + L.index(i)
        new_L.append(A)
    return new_L

add_indexes([5,6,7,8,9])

[5, 7, 9, 11, 13]

Question no.3 :- 

Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

Examples

cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49

cone_volume(18, 0) ➞ 0

Answer no.3

In [ ]:
import math

def cone_volume(h,r):

    volume = (1/3)*(math.pi)*r*r*h

    return round(volume,2)

cone_volume(10,4)

167.55

Question no.4 :- 

This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are:
 
1, 3, 6, 10, 15

This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.

Write a function that gives the number of dots with its corresponding triangle number of the sequence.

Examples

triangle(1) ➞ 1

triangle(6) ➞ 21

triangle(215) ➞ 23220

Answer no.4

In [ ]:
def triangle(n):

    for i in range(1,n+1):  
        K = i*(i+1)//2
    return K

triangle(27)

378

Question no.5 :- 

Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.

Examples

missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

Answer no.5

In [42]:
def missing_num(list):
    num = sorted(set(range(list[0], list[-1])) - set(list))
    for i in num:
        return i

missing_num([11,12,13,15,16,17,18,19,20])

14