Answer no.1

~ *,-,/ and + are expressions while 'hello' and -87.8 are values.

Answer no.2

~ String is a datatype which is one of many types of values whereas variable is a placeholder used to store all the values of different types.A variable in itself can't be a value.

Answer no.3

~ String - It is collection of one or more characters put within single quotes,double quotes or triple quotes.

~ Integer - It consists of positive and negative whole numbers.

~ Floating point numbers - It contains real numbers with decimal point values.

~ Boolean datatype - It defines the truth value of any expressions or characters.It evaluates them as either True or False.

Answer no.4

~ An expression is a combination of values ,variables,operators or call to the function.Expressions produce a value or result which can be passed into functions.

Answer no.5

~ Expressions produce values whereas statements do not produce values,statement is a instruction to python interpreter to execute something.

Answer no.6

In [ ]:
bacon = 22
bacon+1

print(bacon)

22

~ After running the above code bacon contains value 22 as we cannot concatenate any integer value to a variable name.

Answer no.7

In [ ]:
x = 'spam'+'spamspam'
y = 'spam'*3

print(f"The values of above two terms are {x} and {y} respectively")

The values of above two terms are spamspamspam and spamspamspam respectively

Answer no.8

~ By default Python does not allow any integer value as starting character of any variable name.So eggs is a valid variable name and 100 is not.

Answer no.9

~ int(),float() and str() functions can be used to get respective versions of a value.

Answer no.10

In [ ]:
text = 'I have eaten'+ 99 +'burritos'
print(text)

TypeError: ignored

~ The the above expression causes an error because string and integer concatenation is not possible in python.

~ To fix it we have to convert 99 to string value as '99' and then concatenate.

In [ ]:
text1 = 'I have eaten '+ '99' +' burritos'
print(text1)

I have eaten 99 burritos